@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
	margin: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.644),rgba(0, 0, 0, 0.637)) ,url(homeback.jpg);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.heading{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;
    color: seashell;
    text-align: center;
}

.cont {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 6px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #2a4f96;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #2a4f96;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.container{
    height: 100%;
    align-content: center;
    }
    
    .find
    {
        color: seashell;
        padding-left: 10%;
        margin-right: 5%;
        margin-left: 30%;
        margin-top: 10%;
        font-family: 'Akaya Kanadaka', cursive;
        font-size: 200%;
    }


    .card{
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5);
        }
        
.form-group{
    padding-left: 43%;
    padding-top: 7%;
    font-size: 70%;
    color: #55d6aa;
}
button{
    color: seashell;
    background-color: #55d6aa;
    font-family: 'Akaya Kanadaka', cursive;
}


body { margin: 30px; } 
h1 { font-size: 2rem;
color: #4eaf8f; }
label { font-size: 24px; }
div { 
  width: 500px; 
  margin-left: 50px;
}

input[type=checkbox] { display:none; } 
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } 
input[type=checkbox] + label:before { letter-spacing: 10px; } 

input[type=checkbox]:checked + label:before { content: "\f046"; } 
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 

.box{
    color: #7adfbd;

}
p{
    font-size: 90%;
    padding-left: 30% ;
    color: seashell;
}