<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="{{url_for('static',filename='/about.css')}}">
    <title>Saksham</title>
</head>
<body>
    <header>
        <div class="cont">
          <h2 class="logo">Saksham</h2>
          <nav>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/home2">Logout</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <br>
      <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body"> 
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sak">
        <p>
           <div class="sakhead">
            ABOUT SAKSHAM
        </div>
        <br>
        </p> <p>
            <big>
At Saksham, we aim to bring a transformation...in ourselves and our world, for the better. We're a culture that aspires to give you a place you can call yours with a passion that can bring about a change. No matter who you are, how you are, and what abilities you carry, we give you a space that matches the frequency of your potential. Because no one is less or more than any. 
Saksham gives you a platform to interact with people like you, find the guidance you might want, and paint a future for yourself. All we do is give you a sphere to grow and flourish. So find your sphere at Saksham.
</big>
        </p>
    </div>

    <div class="us">
        <p>
           <div class="ushead">
            ABOUT US
        </div>
        <br>
        </p> <p>
            <big>
            We are a dedicated team of first year students who wish to bring about a change for the specially-abled. Everyone deserves a chance to work upon themselves with people who understand their needs and that they're capable enough to thrive and flourish.
        <br><br>
        </big>
        </p>
    </div>
</body>
</html>