<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/register.css">
    <link rel="stylesheet" href="{{url_for('static',filename='/register.css')}}">
    <title>Saksham</title>
</head>
<body>
    <header>
        <div class="cont">
          <h2 class="logo">Saksham</h2>
          <nav>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/login">Logout</a></li>
            </ul>
          </nav>
        </div>
      </header>
    <div class="register">
    <h1>Registration Form</h1>
    <br><br><br><br>
    <label for="name"><p>Name</p></label>
    <div class="boxes">
    <input type="text" name="" id="speechtext" placeholder="Name" onclick=record1()>
    <script>
        function record1()
        {
            var recognition= new webkitSpeechRecognition();
            recognition.lang="en-GB";
            recognition.onresult= function(event){
                console.log(event);
                document.getElementById('speechtext').value=event.results[0][0].transcript;
            }
            recognition.start()
        }
    </script></div>
<br><br>
    <label for="name"><p>Gender </p></label><div class="boxes">
    <input type="text" name="" id="speechtotext" placeholder="Gender" onclick=record2()>
    <script>
        function record2()
        {
            var recognition= new webkitSpeechRecognition();
            recognition.lang="en-GB";
            recognition.onresult= function(event){
                console.log(event);
                document.getElementById('speechtotext').value=event.results[0][0].transcript;
            }
            recognition.start()
        }
    </script></div>
    <br><br>
    <label for="name"> <p>Special Ability </p></label>
    <div class="boxes">
    <input type="text" name="" id="speechttext" placeholder="Special Ability" onclick=record3()>
    <script>
        function record3()
        {
            var recognition= new webkitSpeechRecognition();
            recognition.lang="en-GB";
            recognition.onresult= function(event){
                console.log(event);
                document.getElementById('speechttext').value=event.results[0][0].transcript;
            }
            recognition.start()
        }
    </script>
    </div>
    <br><br>
    <label for="name"> <p>Preferred City </p></label>
    <div class="boxes">
    <input type="text" name="" id="speechtotex" placeholder="Preferred City" onclick=record4()>
    <script>
        function record4()
        {
            var recognition= new webkitSpeechRecognition();
            recognition.lang="en-GB";
            recognition.onresult= function(event){
                console.log(event);
                document.getElementById('speechtotex').value=event.results[0][0].transcript;
            }
            recognition.start()
        }
    </script>
    </div>
<br><br>
<label for="name"><p>Skills</p></label><div class="boxes">
<input type="text" name="" id="speechotext" placeholder="Skills" onclick=record5()>
<script>
    function record5()
    {
        var recognition= new webkitSpeechRecognition();
        recognition.lang="en-GB";
        recognition.onresult= function(event){
            console.log(event);
            document.getElementById('speechotext').value=event.results[0][0].transcript;
        }
        recognition.start()
    }
</script>
</div>
</div>
<div class="form-group"><a href="/home">
    <button>Submit</button></a>
 </div>
 <br><br>
</body>
</html>